/* Général */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  fieldset {
    border: none;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
  }
  
  input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #036cdcfe;
    color: white;
  }
  
  button[type="reset"] {
    background-color: #c50000;
    color: white;
    margin-right: 10px;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  /* Styles pour les boutons */
  button:active {
    transform: scale(0.98);
  }
  
  /* Styles supplémentaires pour le form visuellement agréable */
  /* input[type="text"]:invalid, input[type="email"]:invalid, textarea:invalid {
    border-color: #c50000;
  } */
  