.example-card {
    width: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 30px;
  }
  
/* Style spécial pour articles populaires */
.popular-article {
  font-size: 1.5em;
  text-shadow: 2px 2px 5px gray;
  font-weight: bold;
}

/* *** */
.lign {
  display: flex;
  flex-direction: row;
  text-align: center;  
  justify-content: center;

}

.btnLikeContainer{
  align-items: center;
  justify-content: space-around;
}

.icon {
  padding: 0 8px;
  display: flex;
  align-items: center;
}

/* style of like button */
.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}

.button-45:active,
.button-45:active .icon {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

