* {
  box-sizing: border-box;
  margin: 0;
  font-style: Inter;

}

.mainContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  padding: 3rem;
}

header h1 {
  font-size: 5rem;
  font-weight: 500;
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

